.stats-card {
    background: radial-gradient(circle, rgba(201, 135, 154, 0.9) 0%, rgba(160, 57, 86, 0.9) 100%);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: 40px;
    /* width: 123.5%; */
    width: 100%;
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
    transform-style: preserve-3d;
}
.card-left,
.card-right {
    max-height: 700px;
}

.player {
    object-fit: contain;
}
.card-left:hover .stats-card {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transform: translateX(80%);
    transform-style: preserve-3d;
    width: 123.5%;
}
.card-right:hover .stats-card {
    transform: translateX(-100%);
    transform-style: preserve-3d;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    width: 123.5%;
}
.player,
.name-banner {
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.card-left:hover .player,
.card-right:hover .player {
    z-index: 99;
    transform: translateY(-5%) scale(1.1);
    transform-style: preserve-3d;
}

.card-left:hover .name-banner,
.card-right:hover .name-banner {
    /* z-index: -1; */
    opacity: 0;
}

.stats-card.argentina {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(175, 204, 226, 1) 100%);
}
.stats-card.portugal {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(213, 48, 67) 100%);
}
.stats-card.brazil {
    background: radial-gradient(circle, rgba(254, 224, 0, 1) 0%, rgba(0, 156, 55, 1) 100%);
}
.stats-card.france {
    background: radial-gradient(circle, rgba(221, 120, 129, 1) 0%, rgba(0, 35, 149, 1) 100%);
}

.white-container {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(233, 240, 247, 0.9) 100%);
}

.white-container img {
    min-width: 0;
}

@media screen and (max-width: 1536px) {
    .stats-card {
        padding: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .card-left:hover .stats-card {
        opacity: 1;
        transform: translateX(0%);
        width: 100%;
    }
    .card-right:hover .stats-card {
        transform: translateX(0%);
        transform-style: preserve-3d;
        opacity: 1;
        width: 100%;
    }
    .stats-card {
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    }
    /* .card-left:hover,
    .card-right:hover {
        transition: opacity 0.5s ease, transform 0.5s ease;
    } */
    .card-left:hover .player,
    .card-right:hover .player {
        z-index: 1;
        transform: translateY(0);
    }
    .card-left:hover .name-banner,
    .card-right:hover .name-banner {
        opacity: 1;
    }
}

@media screen and (max-width: 640px) {
    .progress-container {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    body .sidebar {
        display: none;
    }
    .card-left,
    .card-right {
        max-height: 560px;
    }
}
