.circle {
    width: 150px;
    height: 150px;
    /* background: cyan; */
    position: relative;
}

.outer {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* border: 1px solid red; */

    padding: 14px;
    /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}

.inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    /* font-weight: 600; */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #1d495f;
}

.argentina .circle-1,
.argentina .circle-2,
.argentina .circle-3 {
    fill: none;
    /* stroke: #4ab5e4; */
    stroke: url(#GradientColor_argentina);
    stroke-width: 16px;
    color: #ff4e4e;
}

.portugal .circle-1,
.portugal .circle-2,
.portugal .circle-3 {
    fill: none;
    /* stroke: #4ab5e4; */
    stroke: url(#GradientColor_portugal);
    stroke-width: 16px;
}
.brazil .circle-1,
.brazil .circle-2,
.brazil .circle-3 {
    fill: none;
    /* stroke: #4ab5e4; */
    stroke: url(#GradientColor_brazil);
    stroke-width: 16px;
}
.france .circle-1,
.france .circle-2,
.france .circle-3 {
    fill: none;
    /* stroke: #4ab5e4; */
    stroke: url(#GradientColor_france);
    stroke-width: 16px;
}

.argentina .circle-1 {
    stroke-dasharray: 472;
    stroke-dashoffset: 120.24;
}
.argentina .circle-2 {
    stroke-dasharray: 472;
    stroke-dashoffset: 176.88;
}
.argentina .circle-3 {
    stroke-dasharray: 472;
    stroke-dashoffset: 430.64;
}

.portugal .circle-1 {
    stroke-dasharray: 472;
    stroke-dashoffset: 120.24;
}
.portugal .circle-2 {
    stroke-dasharray: 472;
    stroke-dashoffset: 276.88;
}
.portugal .circle-3 {
    stroke-dasharray: 472;
    stroke-dashoffset: 400.64;
}

.brazil .circle-1 {
    stroke-dasharray: 472;
    stroke-dashoffset: 150.24;
}
.brazil .circle-2 {
    stroke-dasharray: 472;
    stroke-dashoffset: 236.88;
}
.brazil .circle-3 {
    stroke-dasharray: 472;
    stroke-dashoffset: 440.64;
}

.france .circle-1 {
    stroke-dasharray: 472;
    stroke-dashoffset: 120.24;
}
.france .circle-2 {
    stroke-dasharray: 472;
    stroke-dashoffset: 216.88;
}
.france .circle-3 {
    stroke-dasharray: 472;
    stroke-dashoffset: 412.64;
}

.circle svg {
    position: absolute;
    top: 0;
    left: 0;
}
